.board {
	display: inline-block;
	height: 50%;
	width: 50%;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.heart {
	height: 10px;
	width: 10px;
}

.name {
	color: #ff0000;
}

a {
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
  }

a:hover {
	background-color: #ee5f3c;
	text-decoration: none;
}

nav {
	background-color: #808080;
}

body {
	text-align: center;
}

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

footer {
	font-size: 10px;
	background-color: #808080;
}

img {
	height: 200px;
	width: 150px;
	border-radius: 10px;
}